*,
*:before,
*:after,
*:hover {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(image/Fon.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header-block {
  /*border: 2px solid red;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  position: relative;
}

.header-block::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1vh;
  background-color: #1C1C1C;
  position: absolute;
  opacity: 7%;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}

.header-logo__img {
  width: 2vw;
  margin: 0;
  padding: 0 0 0 0.5vw;
}

nav {
  /*border: 2px solid gray;*/
  width: 90%;
  margin: 0;
  padding-right: 2%;
}

.nav-items {
  /*border: 2px solid green;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-item:hover {

}

.nav-item {
  /*border: 2px solid yellow;*/
  margin: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-item a {
  text-decoration: none;
  color: #1C1C1C;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: 2px solid hotpink;*/
}

.contacts div {
  padding: 0;
}

.contacts-item__1 {
  /*border: 2px solid yellow;*/
  text-align: center;
  width: 13vw;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 167%;
  letter-spacing: 0.05em;
}

.contacts-item__1 div {
  width: 100%;
}

.contacts-item__1_1 {
  margin-bottom: 1vh;
}

.contacts-item__2 {
  /*border: 2px solid yellow;*/
  width: 13vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 167%;
  letter-spacing: 0.05em;
}

.contacts-item__2 span a {
  color: #1C1C1C;
  text-decoration: none;
}

.contacts-item__2 img {
  width: 2vw;
}

.contacts-item__2 span {
  padding-left: 0.3vw;
  border-bottom: 0.15vw dotted #12C868;
}

.contacts-item__3 {
  /*border: 2px solid yellow;*/
  width: 13vw;
}

.contacts-item__3 img {
  width: 13vw;
}

.contacts-item__4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 167%;
  letter-spacing: 0.05em;
}

.contacts-item__4_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 0.5vw;
  height: 0.5vw;
  background: #12C868;
  border-radius: 100px;
  margin-right: 0.5vw;
}

.messenger-block img {
  width: 3vw;
}

.contacts-item__5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 167%;
  text-align: center;
  letter-spacing: 0.02em;
}

.phone-number {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 167%;
  text-align: center;
  letter-spacing: 0.05em;
}

.call-me {
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #12C868;
  border-bottom: 0.15vw dotted #12C868;
}

.content {
  margin-top: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*border: 2px solid green;*/
}

.advantages {
  /*border: 2px solid red;*/
  width: 14vw;
  height: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 1vw;
  margin: 0;
}

.advantages-menu-shadow {
  margin: 0;
  width: 100%;
  height: 2vw;
  padding: 0;
}

.advantages-item {
  font-style: normal;
  font-weight: 400;
  font-size: 2.1vh;
  text-align: center;
  width: 80%;
}

.advantages-item:first-child {
  padding-top: 1vw;
}

.advantages-item:last-child {
  padding-bottom: 1vw;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

button {
  border: none;
  width: 20vw;
  height: 5vw;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 157%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

button div {
  margin: 0;
  padding: 0;
}

button img {
  width: 1vw;
  min-width: 1vw;
  max-width: 1vw;
}

.cost {
  background: #12C868;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
  border-radius: 500px;
}

.cost:hover {
  background: #21E27C;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
}

.appointment {
  background: #F38120;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
  border-radius: 5vw;
}

.appointment:hover {
  background: #FD9C49;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
}

.appointment img {

}

.content-item {
  /*border: 2px solid red;*/
  width: 42vw;
  margin-left: 3vw;
}

.content-item__1 {
  /*border: 2px solid red;*/
  font-style: normal;
  font-weight: 300;
  font-size: 2.3vw;
  text-align: justify;
  line-height: 180%;
  color: #1C1C1C;
  width: 27vw;
  margin: 1vw;
}

.content-item__2 {
  /*border: 2px solid khaki;*/
  display: flex;
  align-items: center;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vw;
  color: #1C1C1C;
}

.content-item__2 div {
  padding-left: 1.5vw;
}

.content-item__2 img {
  width: 3.5vw;
}

.questions {
  margin-top: 1vw;
  width: 14vw;
  display: flex;
  align-items: start;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;
  text-align: center;
}

.questions div {
  margin-left: 1vw;
}

.questions img {
  /*border: 2px solid green;*/
  min-width: 2vw;
  width: 2vw;
  max-width: 2vw;
}

.arm {
  width: 10%;
  margin: 0;
  padding: 0;
}