*,
*:before,
*:after,
*:hover {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(image/Fon.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.close-advantages {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header-block1 {
  /*border: 2px solid red;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  position: relative;
}

.header-block1:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1vh;
  background-color: #1C1C1C;
  position: absolute;
  opacity: 7%;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}


.header-block2 {
  display: none;
}

.header-logo__img {
  width: 2vw;
  margin: 0;
  padding: 0 0 0 0.5vw;
}

nav {
  /*border: 2px solid gray;*/
  width: 90%;
  margin: 0;
  padding-right: 2%;
}

.nav-items {
  /*border: 2px solid green;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-item a:hover {
  color: #FD9C49;
}

.nav-item {
  /*border: 2px solid yellow;*/
  margin: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
}

.nav-item:hover:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #FD9C49;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 1;
  height: 0.1vw;
}

.nav-item a {
  text-decoration: none;
  color: #1C1C1C;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts div {
  padding: 0;
}

.contacts-item__1 {
  text-align: center;
  width: 13vw;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 167%;
  letter-spacing: 0.05em;
}

.contacts-item__1 div {
  width: 100%;
}

.contacts-item__1_1 {
  margin-bottom: 1vh;
}

.contacts-item__2 {
  width: 13vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 167%;
  letter-spacing: 0.05em;
}

.contacts-item__2 span a {
  color: #1C1C1C;
  text-decoration: none;
}

.contacts-item__2 img {
  width: 2vw;
}

.contacts-item__2 span {
  padding-left: 0.3vw;
  border-bottom: 0.15vw dotted #12C868;
}

.contacts-item__3 {
  width: 13vw;
}

.contacts-item__3 img {
  width: 13vw;
}

.contacts-item__4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 167%;
  letter-spacing: 0.05em;
}

.contacts-item__4_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 0.5vw;
  height: 0.5vw;
  background: #12C868;
  border-radius: 100px;
  margin-right: 0.5vw;
}

.messenger-block img {
  width: 3vw;
}

.messenger-block img:hover {
  opacity: 0.7;
}

.contacts-item__5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2vh;
  line-height: 167%;
  text-align: center;
  letter-spacing: 0.02em;
}

.phone-number {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 167%;
  text-align: center;
  letter-spacing: 0.05em;
}

.call-me {
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #12C868;
  border-bottom: 0.15vw dotted #12C868;
  cursor: pointer;
}

.call-me:hover {
  opacity: 0.7;
}

.content {
  margin-top: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.advantages {
  width: 14vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 1vw;
  margin: 0;
}

.advantages-menu-shadow {
  margin: 0;
  width: 100%;
  height: 2vw;
  padding: 0;
}

.advantages-item {
  font-style: normal;
  font-weight: 400;
  font-size: 2.1vh;
  text-align: center;
  width: 80%;
}

.advantages-item:first-child {
  padding-top: 1vw;
}

.advantages-item:last-child {
  padding-bottom: 1vw;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 0;
}

button {
  border: none;
  width: 20vw;
  height: 5vw;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 157%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

button div {
  margin: 0;
  padding: 0;
}

button img {
  width: 1vw;
  min-width: 1vw;
  max-width: 1vw;
}

.cost {
  background: #12C868;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
  border-radius: 500px;
}

.cost:hover {
  background: #21E27C;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
}

.appointment {
  background: #F38120;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
  border-radius: 5vw;
}

.appointment:hover {
  background: #FD9C49;
  box-shadow: inset 0 0 1.8vw rgba(255, 255, 255, 0.25);
}

.content-item {
  width: 42vw;
  margin-left: 3vw;
}

.content-item__1 {
  font-style: normal;
  font-weight: 300;
  font-size: 2.3vw;
  text-align: justify;
  line-height: 180%;
  color: #1C1C1C;
  width: 27vw;
  margin: 1vw;
}

.content-item__2 {
  display: flex;
  align-items: center;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vw;
  color: #1C1C1C;
}

.content-item__2 div {
  padding-left: 1.5vw;
}

.content-item__2 img {
  width: 3.5vw;
}

.questions {
  margin-top: 1vw;
  width: 14vw;
  display: flex;
  align-items: start;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;
  text-align: center;
}

.questions div {
  margin-left: 1vw;
}

.questions img {
  min-width: 2vw;
  width: 2vw;
  max-width: 2vw;
}

.arm {
  width: 10%;
  margin: 0;
  padding: 0;
}

/*modal*/
.modal {
  display: block;
  width: 23vw;
  max-width: 100%;
  height: 35vw;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(image/modal-fon.png);
  border-radius: 1.8vw;
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .close-button {
  position: absolute;
  z-index: 40;
  top: 0.3vw;
  right: 0.3vw;
  border: 0;
  color: white;
  padding: 1vw 1vw;
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-guts h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

.check-form {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1C1C1C;
}

.confid a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 175%;
  display: flex;
  align-items: center;
  color: #F38120;
}

.form-item__1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin-bottom: 1vw;
}

.form-item__2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  opacity: 0.75;
  margin-bottom: 1vw;
}

.EnterPhone {
  border: none;
  width: 20vw;
  height: 5vw;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 111%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #A7A7A7;
  padding: 2vw;
  margin-bottom: 1vw;
  border-radius: 2.4vw;
}

form .appointment {
  margin: 1vw;
}

.phone-label {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 100%;
  color: #000000;
  opacity: 0.75;
  margin: 1vw;
}


@media (max-width: 1400px) {
  .modal {
    width: 350px;
    height: 500px;
  }
}


@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .advantages {
    width: 40vw;
  }
}

@media (max-width: 992px) {
  .header-block1 {
    width: 100%;
    height: 50px;
  }

  .header-block1:after {
    height: 1px;
  }

  .header-logo__img {
    width: 20px;
    padding-left: 5px;
  }

  nav {
    width: 90%;
  }

  .nav-item {
    /*border: 2px solid yellow;*/
    font-size: 11px;
  }

  .nav-item:hover:after {
    height: 2px;
  }

  .contacts div {
    padding: 0;
  }

  .content {
    margin-top: 10px;
  }

  .advantages {
    width: 90%;
    border-radius: 15px;
  }

  .advantages-menu-shadow {
    height: 20px;
  }

  .advantages-item {
    font-size: 12px;
  }

  .advantages-item:first-child {
    padding-top: 10px;
  }

  .advantages-item:last-child {
    padding-bottom: 10px;
  }

  .button-block {
    margin: 10px 0;
  }

  button {
    width: 250px;
    height: 50px;
    font-size: 10px;
    line-height: 120%;
    padding: 15px;
  }

  button img {
    width: 12px;
    min-width: 12px;
    max-width: 12px;
  }

  .content-item {
    width: 600px;
    margin-left: 0;
  }

  .content-item__1 {
    font-size: 20px;
    width: 250px;
    margin: 10px;
  }

  .content-item__2 {
    font-size: 16px;
    color: #1C1C1C;
  }

  .content-item__2 div {
    padding-left: 15px;
  }

  .content-item__2 img {
    width: 40px;
  }

  .questions {
    margin-top: 10px;
    width: 150px;
    font-size: 10px;
  }

  .questions div {
    margin-left: 10px;
  }

  .questions img {
    min-width: 25px;
    width: 25px;
    max-width: 25px;
  }

  /*modal*/
  .modal {
    width: 400px;
    max-width: 100%;
    height: 350px;
    border-radius: 25px;
  }

  .modal-guts {
    padding: 10px;
  }

  .modal .close-button {
    top: 5px;
    right: 5px;
    border: 0;
    /*background: black;*/
    color: white;
    padding: 10px 10px;
    font-size: 1.3rem;
  }

  .modal-guts h3 {
    font-size: 18px;
  }

  .check-form {
    font-size: 12px;
  }

  .confid a {
    font-size: 12px;
  }

  .form-item__1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .form-item__2 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .EnterPhone {
    border: none;
    width: 250px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
  }

  form .appointment {
    margin: 10px;
  }

  .phone-label {
    font-size: 10px;
    margin: 10px;
  }

  .contacts-item__1 {
    width: 15%;
    font-size: 10px;
    line-height: 100%;
    padding-left: 5px;
  }

  .contacts-item__1_1 {
    margin-bottom: 5px;
  }

  .contacts-item__2 {
    width: 15%;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    line-height: 100%;
  }

  .contacts-item__2 img {
    width: 20px;
  }

  .contacts-item__2 span {
    padding-left: 5px;
    border-bottom: 2px dotted #12C868;
  }

  .contacts-item__3 {
    width: 160px;
  }

  .contacts-item__4 {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
  }

  .circle {
    width: 4px;
    height: 4px;
    background: #12C868;
    border-radius: 100px;
    margin-right: 3px;
  }

  .messenger-block img {
    width: 30px;
  }

  .contacts-item__5 {
    font-size: 12px;
    line-height: 140%;
  }

  .phone-number {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 167%;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .call-me {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    border-bottom: 2px dotted #12C868;
  }


}

@media (max-width: 770px) {
  .header-block1 {
    display: none;
  }

  .close {
    display: none;
  }

  .header-block2 {
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 80px;
    position: relative;
  }

  .header-block2:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #1C1C1C;
    position: absolute;
    opacity: 7%;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
  }

  .contacts-item__1 {
    width: 100%;
    font-size: 10px;
  }

  .contacts-item__2 {
    width: 100%;
    flex-direction: row;
    margin: 10px 0;
  }

  .contacts-item__2 img {
    width: 20px;
  }

  .contacts-item__2 span {
    padding-left: 5px;
    border-bottom: 2px dotted #12C868;
  }

  .contacts-item__5 {
    font-size: 10px;
  }


  .menu-burger {
    position: relative; /* задаем относительное позиционирование */
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
    margin-left: 10px;
  }

  .contacts-item__3 {
    width: 100px;
  }

  .content-item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-item__1 {
    text-align: center;
    width: 60%;
    margin-bottom: 15px;
  }

  .content-item__2 {
    justify-content: center;
  }

  .button-block {
    flex-direction: column;
  }

  .cost {
    margin: 15px 0;
  }

  .questions {
    width: 80%;
  }

  .menu-burger span, .menu-burger:after, .menu-burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }

  .menu-burger span {
    top: 16px;
    right: 5px;
  }

  .menu-burger:after, .menu-burger:before {
    content: '';
  }

  .menu-burger:after {
    bottom: 5px;
    right: 5px;
  }

  .menu-burger:before {
    top: 5px;
    right: 5px;
  }

  .nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -120%;
    z-index: 1010;
    transition: all 0.4s ease;
  }

  .nav-item a:hover:after {
    width: 100%;
    background-color: #FD9C49;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 1;
    height: 1px;
  }

  .nav.open-menu {
    left: 0;
  }

  .menu-burger.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }

  .menu-burger.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }

  .menu-burger.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .nav-items {
    display: block;
  }

  .nav-items li {
    margin: 10px;
    font-size: 14px;
  }

  .fixed-page {
    overflow: hidden;
  }

  .content {
    flex-direction: column-reverse;
  }
}

@media (max-width: 575px) {
  .content-item {
    font-size: 14px;
  }

  .questions {
    width: 100%;
  }

  .close-advantages {
    width: 35px;
    height: 35px;
    margin: 5px;
    background: #F38120;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    text-align: right;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .close-advantages:hover {
    animation: radial-pulse 1s infinite;
  }

  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(243, 129, 32, 1);
    }

    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
  }

  .slide {
    position: fixed;
    bottom: -170px;
    width: 200px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    text-align: center;
    z-index: 1500;
  }

  .slide-show {
    bottom: 40%;
  }

  .close-button-show {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@media (max-width: 450px) {

}